@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Open Sans', sans-serif;
}

/* Header */
.header {
  padding: 16px;
}

.logo {
  font-family: 'Suravaram', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #22BE44;
}

/* Animações suaves para transições entre perguntas */
.fade-enter {
  opacity: 0;
  transform: translateX(30px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}